*{
 margin: 0em;
 padding: 0em;
}
.nav{
    background-color: aliceblue;
}
.logo{

}
ul{
    float:right;


}
 ul li{
     display: inline;
    text-decoration: none;
    list-style: none;
    margin: 20px;
}
ul li a{
text-decoration: none;
font-weight: bold;
font-size: x-large;
}

.section{
    flex-direction: row;
    display: flex;
    background-color:whitesmoke;
    padding:100 px;
}

.section1{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    border:solid gray;
    border-radius:10%;
    margin: 30px;
    float: left;
    width: 200px;
    background-color: whitesmoke;

}
.image1{
    background-color: yellow;
    height: 100px;
    text-align: center;
    
}


.content{
    flex-direction: row;
    display: flex;
    background-color:rgba(117, 112, 112, 0.356);
    padding:100 px;
}

.menu{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    border:solid gray;
    border-radius:10%;
    margin: 30px;
    width: 200px;
    background-color: rgb(245, 239, 239);

}

.menu2{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    border:solid gray;
    border-radius:10%;
    margin: 30px;
    width: 200px;
    background-color: rgb(245, 239, 239);

}
.content h2{
    font-size: 30pt;
    text-decoration: underline yellow;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

